<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.4.min.css"/>
    <title>Bokeh</title>
</head>
<body> 
   <h1> IoT  Sensor Data Analysis <h1>
   	<hr>

   	<h3> Temperature Analysis </h3>
   	{{ div1| safe}}

   	{{ sc1| safe}}

   	<hr>
   	<h3> Humidity Analysis </h3>

   	{{ div_hum| safe}}
   	{{sc_hum| safe}}

   	<hr>
   	<h3> Soil Moisture Analysis </h3>
   	{{ div_mos| safe}}
   	{{ sc_mos| safe}}
</body>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.4.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-1.3.4.min.js"></script> 
    
</html>



